/***
------------------------------------------------------------------------------------------------------
****/
#popup-window-content-order_popup div.frm-callback{
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: none;
}
#popup-window-content-order_popup div.frm-callback .frm-row-submit{
	margin-bottom: 15px;
}

span.sostav-desc{
	display: inline-block;
	border: 1px solid #cfb53b;
	border-radius: 47px;
	color: #cfb53b;
	text-align: center;
	width: 27px;
	cursor: pointer;
	margin-left: 10px;
}
.sostav-item-desc{
    display: none;
}
.sostev-content{
    padding: 15px;
}
.sostev-content a{
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    line-height: 42px;
    background: #cfb53b;
    padding: 0 25px;
    font-size: 17px;
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 300;
    border: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 0px;
    float:right;
    margin-top:15px;
    margin-bottom: 15px;
}
.sostev-content a:hover{
    color: #333;
    background: #e0c64c;
    text-decoration: none;
}
#sostav_popup{
    width:450px;
}
.sostav-item{
    margin-bottom: 5px;
}

div.price-block{
	display: inline-block
}

span.old-price{
    font-size:14px;
    color:black!important;
}


div.catalog-box div.item-wrap div.item{
    position: relative;
}

div.catalog-box div.item-wrap div.item .st-block{
    top: 4px;
}

span.sostav-desc {
    display: inline-block;
    border: 1px solid #cfb53b;
    border-radius: 47px;
    color: #cfb53b;
    text-align: center;
    width: 27px;
    cursor: pointer;
    margin-left: 10px;
}